In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)
#import modul

1.2.4
1.20.1

In [11]:
pd.DataFrame({'col1':[1, 2, 3, 4],
              'col2':[5, 6, 7, 8]})
#data frame berisi dua kolom

   col1  col2
0     1     5
1     2     6
2     3     7
3     4     8

In [12]:
n_rows = 5
n_cols = 3

arr = np.random.randint(1, 20, size=(n_rows, n_cols))
arr
#ukuran row 5, colomns 3

array([[10,  7,  5],
       [ 7,  3,  4],
       [16,  2, 18],
       [15, 15, 19],
       [17, 19,  4]])

In [4]:
pd.DataFrame(arr, columns=tuple('ABC'))
#akan menyertakkan label di tiap kolom dengan menerapakan fungsi tuple ABC

    A  B   C
0   4  6   8
1   2  4  10
2   8  6   1
3   8  9   8
4  13  3  17

In [5]:
pd.util.testing.makeDataFrame().head()
#makeDataFrame data sederhana

C:\Users\LENOVO\anaconda3\lib\site-packages\pandas\util\__init__.py:8: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

                   A         B         C         D
KRhFJxqiTc  0.083232  0.259132  0.163378  1.219457
KSBCkNqAEF -0.227359  0.113038 -2.307847 -0.720790
3ztuzW8OGA  0.843587 -0.614884 -0.244561 -1.743328
Qnjj7uE3TJ -1.206455  1.641398 -0.057982 -0.613818
kK8UqWv7R5 -0.025259  0.480071  1.330691 -1.270202

In [6]:
pd.util.testing.makeMixedDataFrame().head()
#makeMixedDataFrame, tipe data campur

     A    B     C          D
0  0.0  0.0  foo1 2009-01-01
1  1.0  1.0  foo2 2009-01-02
2  2.0  0.0  foo3 2009-01-05
3  3.0  1.0  foo4 2009-01-06
4  4.0  0.0  foo5 2009-01-07

In [7]:
pd.util.testing.makeTimeDataFrame().head()
#makeTimeDataFrame, tipe data waktu

                   A         B         C         D
2000-01-03  1.307724 -0.164204  1.288354 -2.829174
2000-01-04  0.451459 -3.049195  0.922873 -0.195253
2000-01-05  0.959591  1.754783 -2.402827  0.282416
2000-01-06 -0.362853  1.492458  0.307206 -1.271115
2000-01-07 -0.679940  0.044658 -0.684439 -0.218942

In [10]:
pd.util.testing.makeMissingDataframe().head()
#makeMissingDataFrame, missing value yang ditetapkan secara acak

                   A         B         C         D
NnKoJ3LYyF -0.068013  0.081773  0.858546 -0.446405
UL1LvoeiZr       NaN -0.431805 -1.390548  0.126304
bcByzXx5Jg  0.173721  0.309644       NaN -0.236571
3QMx4Dyb91 -1.244606 -0.440618  0.182087  1.465865
Hqpfd0uGJa  0.638489  0.532322  0.257688 -0.939044