In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)
#import modul

1.2.4
1.20.1

In [2]:
n_rows = 365 * 24
n_cols = 2
cols = ['col1', 'col2']

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)),
                 columns=cols)

df.index = pd.util.testing.makeDateIndex(n_rows, freq='H')
df

#persiapan data frame, kolom baris diisi 365 * 24, 24 adalah 24 jam sehari, 365 adalah jumlah hari setahun

C:\Users\LENOVO\anaconda3\lib\site-packages\pandas\util\__init__.py:8: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

                     col1  col2
2000-01-01 00:00:00    11     3
2000-01-01 01:00:00    15     6
2000-01-01 02:00:00     1     5
2000-01-01 03:00:00    10     1
2000-01-01 04:00:00     3     2
...                   ...   ...
2000-12-30 19:00:00     7    19
2000-12-30 20:00:00    13    10
2000-12-30 21:00:00     2    16
2000-12-30 22:00:00     6     5
2000-12-30 23:00:00    12     6

[8760 rows x 2 columns]

In [3]:
df.resample('M')['col1'].sum().to_frame()
#interval waktu berdasarkan bulan dengan

            col1
2000-01-31  7175
2000-02-29  6806
2000-03-31  7600
2000-04-30  7336
2000-05-31  7451
2000-06-30  7002
2000-07-31  7590
2000-08-31  7557
2000-09-30  7178
2000-10-31  7381
2000-11-30  7109
2000-12-31  7655

In [4]:
df.resample('D')['col1'].sum().to_frame()
#interval waktu berdasarkan hari

            col1
2000-01-01   186
2000-01-02   216
2000-01-03   197
2000-01-04   230
2000-01-05   230
...          ...
2000-12-26   287
2000-12-27   263
2000-12-28   204
2000-12-29   222
2000-12-30   222

[365 rows x 1 columns]